<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <header>
        <h1>Home Page</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/users">Users</a>
                    </li>
                    <li>
                        <a href="/contents">Contents</a>                    
                    </li>
                </ul>
            </nav>
    </header>
</body>
</html>