<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Red+Hat+Display|Righteous|Russo+One&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>   
    <header>
        <a href="/users/login" class="login">Sign In</a>
        <a href="/users/signup" class="signup">Create Account</a>
        <h1 class="welcome">Mixr</h1>
    </header>
    <%- include("./partials/carousel.ejs") %>
    <div class="pcontainer">
        <p class="mixrp">Mixr is a creative space for musicians of all genres, levels, and backgrounds to come together and create, connect, and collaborate.</p>
    </div>
</body>
</html>