<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/users/login">Sign In</a>
        <a href="/users/new">Create Account</a>
        <h1>Welcome to Mixr</h1>
        <p>Mixr is a space where musicians of all genres, levels, and backgrounds come together to create, connect, and collaborate.</p>
    </header>
</body>
</html>