body {
    background-color: white;
}

ul {
    list-style-type: none;
}

/* NAVBAR */
.navbar-brand {
    font-family: 'Monoton', cursive;
}

/*ROUTE PAGE*/
#signup {
    font-size: 12pt;
}

#login {
    font-size: 12pt;
}

header {
    text-align: right;
}

.carouselimg {
    height: 300px;
    width: 600px;
}

.carousel {
    text-align: center;
}

.carousel-text {
    z-index: 1;
}

.pcontainer {
    margin: 30px auto;
    width: 600px;
    height: 100px;
    position: relative;
}

.mixrp {
    padding: 30px 20px 0 20px;
    font-size: 10pt;
    text-align: center;
    font-style: italic;
}

.welcome {
    padding: 0;
    text-align: center;
    color: black;
    font-size: 30pt;
    font-family: 'Monoton', cursive;
}

.mixr {
    color: grey;
}

/*HOME PAGE*/
.card {
    border: solid black 3px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-mixr {
    font-family: 'Monoton', cursive;
    text-align: center;
}

/*LOGIN*/
.form-container {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.login-h1 {
    text-align: center;
}

.signup-h1 {
    text-align: center;
}

/* PROFILE */
.profile-h1 {
    text-align: center;
}

.profile-h2 {
    text-align: center;
    font-family: 'Monoton', cursive;
}

.profile-content {
    text-align: center;
}

#profile-upload {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.profile-delete {
    margin-top: 500px;
    padding: 10px;
}

.profile-edit {
    padding: 30px;
    text-align: center;
}

.view-profile {
    padding: 0 30px 0 0;
}

.delete-mix-form{
    padding: 10px
}

/* USER-INDEX */
.user-index-h2 {
    font-family: 'Monoton', cursive;
    text-align: center;  
}

.user-index-ul {
    text-align: center;
}

/* USER SHOW PAGE */
.user-show-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-show-h2 {
    text-align: center;
    font-family: 'Monoton', cursive;
}

/* EXPLORE CONTENT */
.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-explore {
    text-align: center;
    font-family: 'Monoton', cursive;
}

/* NEW CONTENT */
.upload-h1 {
    text-align: center;
    font-family: 'Monoton', cursive;
}

/* USER EDIT */
.user-edit-h1 {
    text-align: center;
}
