body {
    background-color: white;
}

ul {
    list-style-type: none;
}

/* NAVBAR */
.navbar-brand {
    font-family: 'Monoton', cursive;
}

/*ROUTE PAGE*/
.carouselimg {
    height: 300px;
    width: 600px;
}

.carousel {
    text-align: center;
}

.carousel-text {
    z-index: 1;
}

.pcontainer {
    border: solid black 1px;
    padding: 100px 0 100px 0;
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
    height: 100px;
    text-align: center;
    
}

.mixrp {
    text-align: center;
    padding: 0 20px 0 20px;
    font-size: 10pt;
    position: relative;
}

.login {
    font-size: 15pt;
    text-align: right;
    padding: 0;
}

.signup {
    font-size: 15pt;
    text-align: right;
    padding: 0;
}

/* .free {
    padding: 0;
    margin: 0 auto;
    z-index: -1;
    display: flex;
    position: fixed;
} */

.welcome {
    padding: 0;
    text-align: center;
    color: black;
    font-size: 30pt;
    font-family: 'Monoton', cursive;
}

.mixr {
    color: grey;
}

/*HOME PAGE*/
.card {
    border: solid black 3px;
    text-align: center;
}

.home-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-mixr {
    font-family: 'Monoton', cursive;
    text-align: center;
}

/*LOGIN*/

.form-container {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.login-h1 {
    text-align: center;
}

.signup-h1 {
    text-align: center;
}

/* PROFILE */
.profile-h1 {
    text-align: center;
}

.profile-h2 {
    text-align: center;
}

.profile-content {
    text-align: center;
}


@media (max-width: 865px) {
    #hamburger-menu {
        display: block;
    }

    .nav-right > a {
        display: none;
    }
}

