<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contents</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <header>
        <h1 class="content-explore">Explore</h1>
    </header>
<main>
    <div class="grid-container">
            <% for(let i = 0; i < contents.length; i++) {%>
                <div class="grid-item">
                    <a href="/contents/<%=contents[i]._id%>">
                    <iframe src="<%=contents[i].url%>"></iframe></a>
                </div>
            <%}%> 
    </div>  
</main>
</body>
</html>