<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <button action="/">Home</button>
    </header>
    <header>
        <h1>Upload Your Mix</h1>
    </header>
    <main>
        <form action>
            <input type="url" name="url" placeholder="Enter url">
            <input type="textarea" name="description" placeholder="Enter a description">
            <button type="submit">Upload</button>
        </form>
    </main>
</body>
</html>